.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.nav-link {
    text-decoration: none;
    margin: 1vh;
    padding: 2vh;
    text-align: center;
    background-color: rgb(127, 216, 201);
    color: #282c34;
    border-radius: 7%;
    font-size: 2.5vh;
    box-shadow: 5px 4px #367779;
}

.nav-link:hover {
    background-color: rgb(89, 182, 165);
}