body {
    scroll-behavior: smooth;
}

a {
    background-color: white;
    border-radius: 5%;
    width: 30vh;
    height: 30vh;
    margin: 2vh;
}

.index-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.index-img {
    width: 30vh;
    height: 30vh;
    border-radius: 5%;
    box-shadow: 7px 6px #282c34;
}

.index-img:hover {
    opacity: .80;
}

.section-header {
    color: white;
}