body {
  font-family: 'Rubik', sans-serif;
  background-color: #4b5873;
}

.App {
  text-align: center;
  margin: 0;
}

.App-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  color: white;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #282c34;
}

.banner-img {
  width: 10vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

